* {
    box-sizing: border-box;
    font-family: "roberto", sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    background-color: grey;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.text {
    background-color: black;
    flex: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: black;
    padding-right: 10px;
    max-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.text2 {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
    font-variant-numeric: tabular-nums;
    font-size: 36px;
    margin: 0px;
    white-space: nowrap;
}

.on {
    background-color: rgb(0, 117, 41);
}

.buttons {
    flex: 5;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    flex: 1;
    display: flex;
    justify-content: center;
}

button {
    flex: 1;
    margin: 0.25rem;
    border-radius: 1rem;
    color: white;
    font-size: 32px;
    background-color: rgb(19, 0, 79);
}

.clear {
    flex: 3.5;
}